@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@font-face {
	font-family: HeraldicShadows;
	src: url('/assets/font/HeraldicShadows.otf')
}

@font-face {
	font-family: Religath;
	src: url('/assets/font/Religath.otf')
}

@font-face {
	font-family: MorrisRoman;
	src: url('/assets/font/MorrisRomanAlternate-Black.ttf')
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	line-height: 1.2;
	background: var(--background);
	color: var(--foreground);
	font-family: MorrisRoman, Arial, Helvetica, sans-serif;

	webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently */
}

.disable-drag {
	-webkit-user-drag: none !important;
}

.scrollbar-a::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

.scrollbar-a::-webkit-scrollbar-track {
	background: #1f2937;
	border-radius: 4px;
}

.scrollbar-a::-webkit-scrollbar-thumb {
	background: #4b5563;
	border-radius: 4px;
}

.scrollbar-a::-webkit-scrollbar-thumb:hover {
	background: #6b7280;
}

/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
	width: 10px; /* Slightly wider for better visibility */
	height: 10px; /* Consistent height for horizontal scrollbars */
}

::-webkit-scrollbar-track {
	background: #1a202c; /* Very dark background for the track */
	border-radius: 5px; /* Slightly less rounded for a sharper look */
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(180deg, #4a5568, #2d3748); /* Subtle gradient for depth */
	border-radius: 5px; /* Match track border-radius */
	border: 1px solid #6a7587; /* Thin, lighter border for definition */
}

::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(180deg, #6a7587, #4a5568); /* Lighter gradient on hover */
	border-color: #a0aec0; /* More prominent border on hover */
}

/* For Firefox */
/* Note: Firefox styling is more limited. This will make it thinner and dark. */
* {
	scrollbar-width: thin; /* "auto" or "none" */
	scrollbar-color: #4a5568 #1a202c; /* thumb and track color */
}
